version: '1.0.{build}'

image: Visual Studio 2017

platform:
  - x64

configuration:
  - Release
  # - Debug

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true

install:
  - cmd: >-
      call cudaInstallAppveyor.cmd
  - vcpkg update
  - vcpkg install --triplet x64-windows
      boost-system 
      boost-program-options 
      boost-thread 
      boost-filesystem
      cuda
  
before_build:
    - md build
    - cd build
    - cmake -G "Visual Studio 14 2015" -A x64 -T v140,host=x64 -DPopSift_BUILD_EXAMPLES:BOOL=OFF -DCMAKE_BUILD_TYPE=%configuration% -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake ..
    - ls -l

build:
  project: $(APPVEYOR_BUILD_FOLDER)\build\PopSift.sln
  verbosity: detailed
  #parallel: true

cache:
  - c:\tools\vcpkg\installed\
  # - c:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.1
  
