version: '1.0.{build}'

image: Visual Studio 2015

platform:
  - x64

configuration:
  - Release
  # - Debug

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true

install:
  - cmd: >-
      call cudaInstallAppveyor.cmd
  - vcpkg update
  - vcpkg install 
          boost-system 
          boost-program-options
          boost-thread 
          boost-filesystem
          # cuda
      --triplet %PLATFORM%-windows
  - vcpkg list

before_build:
    - md build
    - cd build
    #- cmake -G "Visual Studio 14 2015 Win64" -DPopSift_BUILD_EXAMPLES:BOOL=OFF -DCMAKE_BUILD_TYPE=%configuration% -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake ..
    #- ls -l

# build:
  #project: $(APPVEYOR_BUILD_FOLDER)\build\PopSift.sln
  #parallel: true

cache:
  - c:\tools\vcpkg\installed\
  - %CUDA_PATH%
  
